# Base de datos — Supabase (Transaction pooler)
DATABASE_URL="postgresql://postgres.znbnfiyvbdzwlmdztfdm:Q4r4WZJVw18XS7nI@aws-1-us-west-2.pooler.supabase.com:6543/postgres"

# NextAuth
NEXTAUTH_SECRET="YBiXm7Pq6NlZCitnQeRjjiNmgiOmKquorORJNXbaVVs="
NEXTAUTH_URL="http://localhost:3000"

# Vercel Blob (lo encuentras en Vercel → Storage → Blob → tu token)
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_AvM5MFgfdF3dcXoe_tfU4d8sEcEe5wcIfnyQoN56Dq2Hq7A"
# Resend
RESEND_API_KEY="re_NZSUkgY3_CWVUtT3PgWiTVjnoZknvHdhT"
EMAIL_DESTINO="contacto@lippu.app"

# Admin inicial
ADMIN_EMAIL="admin@grupoexportadordelcampo.com"
ADMIN_PASSWORD="73037303"